<div>
                <!-- <div>
                    <ol class="breadcrumb">
                        <li><a href="#">Trang chủ</a></li>
                        <li class="active">Nông Sản</li>
                    </ol>
                </div> -->
                <!-- /.div -->
                <div class="row">
                    <div class="btn-group alg-left-pad">
                        <button type="button" class="btn btn-default">Bài viết nổi bật</button>
                        <button type="button" class="btn btn-default"><strong>22 </strong>Bài viết</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                Sắp xếp &nbsp;
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Tiêu đề</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Ngày đăng</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Chuyên mục</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Tag</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <!-- tempffffffffffffffffffffffffffffffffffffffffffffffff -->
                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/cao-su.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a
                                        href="bai-viet-chi-tiet.html#gia-cao-su-xuat-khau-van-o-muc-thap-nhat">Giá cao
                                        su xuất khẩu vẫn ở
                                        mức thấp 
                                        &nbsp
                                        <span class="label label-danger pull-right">
                                            <blink>HOT</blink>
                                        </span>
                                </h4></a>

                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Theo báo cáo của Trung tâm tin học & Thống kê Bộ NN&PTNT, khối lượng xuất khẩu cao
                                    su tháng 2 năm 2019
                                    của Việt nam ước đạt 71 nghìn tấn với giá trị đạt 93 triệu USD. Với ước tính này,
                                    khối lượng xuất khẩu
                                    cao su 2 tháng đầu năm 2019 đạt 228 nghìn tấn và 293 triệu USD, tăng 22,4% về khối
                                    lượng và tăng 6,8% về
                                    giá trị so với cùng kỳ năm 2018.</p>


                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2019-04-10 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Nông
                                            sản</a></span>
                                    <li>|</li>

                                    <span><i class="glyphicon glyphicon-eye-open"></i> 1.456</span>

                                </ul>
                            </div>
                        </div>
                    </div>
                   
                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/cafe.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="bai-viet-chi-tiet.html#Dak-Lak-can-nang-cao-gia-tri-hat-cafe">Dak Lak cần nâng cao giá trị hạt cafe
                                        &nbsp
                                        <span class="label label-danger pull-right">
                                            <blink>HOT</blink>
                                        </span>

                                </h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Cà phê là mặt hàng nông sản chủ lực, mang về ngoại tệ lớn cho tỉnh,
                                    nhưng lượng cà phê chế biến sâu vẫn còn khiêm tốn. Với những lợi thế sẵn
                                    có thì việc thúc đẩy công nghiệp chế biến sẽ nâng cao giá trị, khẳng định
                                    vị thế cho mặt hàng này</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2019-01-08 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Nông sản</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 1.852</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/lua-gao.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="bai-viet-chi-tiet.html#scl-1">Giá lúa gạo ở các tỉnh đồng
                                        bằng sông Cửu Long
                                        tăng mạnh
                                        <span class="label label-danger pull-right">
                                            <blink>HOT</blink>
                                        </span>
                                </h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Trước diễn biến giá lúa này, chiều 19/2, Thủ tướng Chính phủ Nguyễn Xuân Phúc đã có
                                    cuộc
                                    họp với Bộ Nông nghiệp và Phát triển nông thôn, Bộ Tài Chính, Ngân hàng nhà nước,
                                    Hiệp hội
                                    Lương thực Việt Nam… nhằm giải quyết việc thu mua lúa gạo cho nông dân, đảm bảo
                                    quyền lợi
                                    cho nhà nông theo nguyên tắc thị trường.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2019-02-28 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Nông
                                            sản</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 2.156</span>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- end tempfffffffffffffffffffffffffffffffffffffffffffffffffffffff -->
                <!-- 10 bai viet duoc xem nhieu nhat -->
                <div class="row">
                    <div class="btn-group alg-left-pad">
                        <button type="button" class="btn btn-default">Top 10 bài viết nổi bật</button>
                        <button type="button" class="btn btn-default"><strong>22 </strong>Bài viết</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                Sắp xếp &nbsp;
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Tiêu đề</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Ngày đăng</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Chuyên mục</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Tag</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/lua-gao.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="bai-viet-chi-tiet.html#scl-1">Giá lúa gạo ở các tỉnh đồng bằng sông Cửu Long
                                        tăng
                                        mạnh &nbsp
                                        <span class="label label-danger pull-right">HOT</span></h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Trước diễn biến giá lúa này, chiều 19/2, Thủ tướng Chính phủ Nguyễn Xuân Phúc đã có
                                    cuộc
                                    họp với Bộ Nông nghiệp và Phát triển nông thôn, Bộ Tài Chính, Ngân hàng nhà nước,
                                    Hiệp hội
                                    Lương thực Việt Nam… nhằm giải quyết việc thu mua lúa gạo cho nông dân, đảm bảo
                                    quyền lợi
                                    cho nhà nông theo nguyên tắc thị trường.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2019-02-28 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Nông
                                            sản</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 2.156</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/cao-su1.jpg">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="bai-viet-chi-tiet.html#vrg-1">Nghiêm túc thực hiện chế biến, tiêu thụ sản phẩm
                                        cao su thương hiệu VRG &nbsp
                                        <span class="label label-danger pull-right">HOT</span></h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Theo đó, năm 2018 là năm đầu tiên VRG triển khai sản xuất sản phẩm cao su thương
                                    hiệu VRG, với nhãn hàng hóa mới, có chất lượng đạt yêu cầu TCCS 112:2017 của VRG.
                                    VRG khuyến khích các công ty thành viên chủ động trong việc sản xuất và tiêu thụ,
                                    nỗ lực cùng với Tập đoàn quảng bá sản phẩm cao su VRG, quảng bá thương hiệu cao su
                                    của VRG.
                                    Lãnh đạo VRG đánh giá cao các công ty thực hiện tốt, đạt và vượt kế hoạch năm 2018
                                    gồm các công ty: Tân Biên, Đồng Phú, Dầu Tiếng, Mang Yang Ratanakiri, Hoàng Anh
                                    Mang Yang K.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2018-08-11 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Nông
                                            sản</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 2.001</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/tieu-hinh-1.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="bai-viet-chi-tiet.html#san-luong-tieu-2019">Năm 2019, sản lượng hạt tiêu sẽ đạt khoảng
                                        200.000 tấn
                                        &nbsp
                                        <span class="label label-danger pull-right">HOT</span>
                                </h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Theo Cục Xuất nhập khẩu (Bộ Công Thương), giá hạt tiêu tại khu vực Tây Nguyên và
                                    miền Nam sau kỳ nghỉ Tết Nguyên đán ổn định ở mức 46.000 đồng/kg
                                    Hiện, Việt Nam xuất khẩu tới 95% sản lượng hạt tiêu. Do đó, để xuất khẩu hạt tiêu
                                    bền vững thì vấn đề chất lượng phải được đặt lên hàng đầu.
                                    Trong đó, sản lượng hạt tiêu của Việt Nam năm 2019 được dự báo sẽ đạt khoảng
                                    175.000 tấn hạt tiêu đen và 25.000 tấn hạt tiêu trắng.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2018-04-3 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Nông
                                            sản</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 1.900</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/cua-ca-mau-hinh-4.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="bai-viet-chi-tiet.html#gia-cua-bien-tang">Giá cua biển Cà Mau tăng mạnh
                                        &nbsp
                                        <span class="label label-danger pull-right">HOT</span>
                                </h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Ghi nhận của PV Báo NNVN tại huyện Cái Nước (Cà Mau), ở thời điểm hiện tại cua gạch,
                                    cua cốm (cua lột) có giá dao động từ 550 – 600 ngàn đồng/kg, tăng từ 120 – 150 ngàn
                                    đồng/kg so với tháng trước; cua y có giá khoảng 350 – 370 ngàn đồng/kg; cua xô
                                    khoảng 100 ngàn đồng/kg.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2019-01-29 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i><a href="#"
                                            style="color: black;"></a>Kinh doanh</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Hải
                                            sản</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 1.405</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/cua-hd-hinh-1.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="bai-viet-chi-tiet.html#cua-huynh-de-10t">Vì sao cua huỳnh đế bán gần 10 triệu đồng/con?
                                        &nbsp
                                        <span class="label label-danger pull-right">HOT</span>
                                </h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Nếu phải lựa chọn ra danh sách những món hải sản đắt đỏ nhất, cua hoàng đế (có nơi
                                    gọi là huỳnh đế) chắc chắn phải có một chỗ trong đó, thậm chí nằm trên top đầu.
                                    Cua huỳnh đế là gì và cua hoàng đế bổ dưỡng ra sao mà cực đắt. Được biết đến là một
                                    loại hải sản thơm ngon, cua hoàng đế có hình dạng lạ mắt, chắc thịt dù hơn 1
                                    triệu/kg nhưng vẫn được mọi người ưa chuộng và tìm mua.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2018-7-30 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Hải
                                            sản</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 1.305</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/The-thao-hinh-1.jpg">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="bai-viet-chi-tiet.html#juventus-bi-loai">Juventus bị loại cúp C1: 300 triệu bảng mua
                                        Cristiano Ronaldo để làm gì?
                                        &nbsp
                                        <span class="label label-danger pull-right">HOT</span></h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Cristiano Ronaldo đã ghi 2 bàn ở cả lượt đi và về trước Ajax tại tứ kết Champions
                                    League. Tuy nhiên, chừng đó vẫn là không đủ để “Lão phu nhân” đi tiếp.

                                    Cơn thịnh nộ đến như một điều tất yếu, người hâm mộ lại đang phán xét Juventus về số
                                    tiền 300 triệu bảng để đưa về siêu sao người Bồ Đào Nha.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2018-02-10 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Thể thao</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Quốc
                                            tế
                                        </a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 1.201</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/lua-gao-hinh1.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="bai-viet-chi-tiet.html#mua-gao-quoc-gia">Triển khai mua dự trữ lúa gạo quốc gia
                                        &nbsp
                                        <span class="label label-danger pull-right">HOT</span>
                                </h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Năm 2018, xuất khẩu gạo Việt Nam đạt 6,1 triệu tấn, kim ngạch đạt 3,08 tỷ USD. Giá
                                    xuất khẩu bình quân 501 USD/tấn, tăng 13,86% so với 2017, giá xuất khẩu cao góp
                                    phần tiêu thụ ổn định lúa hàng hóa của nông dân. Tuy nhiên, qua năm 2019, thị
                                    trường nhiều biến động, đầu ra lúa đông - xuân gặp khó khăn.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2018-03-10 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Nông
                                            sản</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 1.105</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/TL-hinh-6.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="bai-viet-chi-tiet.html#nhung-ty-phu-nho-trong-thanh-long">Những tỷ phú "chân đất" nhờ trồng thanh long
                                        &nbsp
                                        <span class="label label-danger pull-right">HOT</span>
                                </h4>
                                </a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Từ một xã nghèo cái ăn không đủ, người dân phải bỏ quê đi tha phương cầu thực thì
                                    đến nay xã Tân Thuận, huyện Hàm Thuận Nam, Bình Thuận đang là nơi có nhiều tỷ phú
                                    nhờ trồng cây thanh long .
                                    Xã Tân Thuận cách trung tâm huyện Hàm Thuận Nam chừng 5km theo đường chim bay. Nép
                                    mình sau núi Tà Cú, làng quê này xen giữa những cánh đồng thanh long bạt ngàn với
                                    những nóc nhà xanh đỏ hiện đại. Ngay khi bước chân vào đầu thôn Hiệp Nghĩa, chúng
                                    tôi bị choáng ngợp bởi những căn nhà mái Thái, những ngôi biệt thự đồ sộ lộng lẫy
                                    nằm dọc đường vào trung tâm xã.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2018-09-20 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Nông
                                            sản</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 1.009</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/vai-hinh-6.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Mùa đông ấm, vải thiều lại 'tịt hoa'
                                        &nbsp
                                        <span class="label label-danger pull-right">HOT</span>
                                </h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Diễn biến thời tiết mùa đông 2018-2019 ấm hơn mọi năm khiến nhiều diện tích vải
                                    thiều tại các vựa lớn như Bắc Giang, Hải Dương có tỉ lệ ra hoa thấp. Hiện tượng vải
                                    thiều mất mùa do “tịt hoa” này lại diễn ra tương tự như niên vụ năm 2016-2017.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2017-02-04 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Nông
                                            sản</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 1.000</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/_mg_0787.1.jpg">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Kinh doanh cá chép bận rộn trước 23 Tháng Chạp
                                        &nbsp
                                        <span class="label label-danger pull-right">HOT</span>
                                </h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Sắp tới ngày ông Công ông Táo (23 Tháng Chạp), trong các cửa hàng cá cảnh, các chủ
                                    cửa hàng đang tất bật chuẩn bị cá chép để bán. Nhìn chung, các loại cá chép để
                                    phóng sinh được nuôi bán khá nhiều, giá rẻ như: Cá chép Tam Dương, cá chép vảy
                                    rồng, cá chép hoa… Trong đó, một số người bán hàng cho biết, cá chép đỏ Tam Dương
                                    được nhiều người tiêu dùng mua nhất vì giá thành tương đối rẻ, khoảng 30.000 -
                                    50.000 đồng/ đôi, màu sắc vàng tươi sáng.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2017-02-06 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Hải
                                            sản</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 999</span>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End temp--------------------------------->
                <!-- Top 10 bai viet moi nhat -->
                <div class="row">
                    <div class="btn-group alg-left-pad">
                        <button type="button" class="btn btn-default">Top 10 bài viết mới nhất</button>
                        <button type="button" class="btn btn-default"><strong>33 </strong>Bài viết</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                Sắp xếp &nbsp;
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Tiêu đề</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Ngày đăng</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Chuyên mục</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Tag</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/lua-gao.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Giá lúa gạo ở các tỉnh đồng bằng sông Cửu Long
                                        tăng
                                        mạnh
                                        &nbsp

                                        <span class="label label-warning pull-right">
                                            <blink>NEW</blink>
                                        </span>


                                </h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Trước diễn biến giá lúa này, chiều 19/2, Thủ tướng Chính phủ Nguyễn Xuân Phúc đã có
                                    cuộc
                                    họp với Bộ Nông nghiệp và Phát triển nông thôn, Bộ Tài Chính, Ngân hàng nhà nước,
                                    Hiệp hội
                                    Lương thực Việt Nam… nhằm giải quyết việc thu mua lúa gạo cho nông dân, đảm bảo
                                    quyền lợi
                                    cho nhà nông theo nguyên tắc thị trường.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2019-02-28 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Nông
                                            sản</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 2.156</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/Quoc-phong-hinh1.jpg">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Trực thăng AH-64 thế chỗ Ka-52 trên tàu đổ bộ
                                        Mistral
                                        &nbsp
                                        <span class="label label-warning pull-right">
                                            <blink>NEW</blink>
                                        </span></h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>
                                    Hải quân Ai Cập là bên mua lại 2 tàu đổ bộ trực thăng Mistral mà Pháp đóng cho Nga
                                    nhưng không bàn giao được
                                    vì vướng phải các lệnh trừng phạt của phương Tây.
                                    Để tăng cường năng lực cho chiếc Mistral cũng như lực lượng yểm trợ hỏa lực đường
                                    không,
                                    vào năm 2015 Cairo đã đặt mua từ Nga 46 trực thăng tấn công Ka-52 Alligator.
                                </p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2019-02-24 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Pháp luật</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">An
                                            ninh quốc phòng
                                        </a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 400</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/Y-te-hinh1.jpg">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Workshop quy mô lớn ... Hà Nội:
                                        Nám và mụn là chuyện nhỏ
                                        &nbsp
                                        <span class="label label-warning pull-right">
                                            <blink>NEW</blink>
                                        </span>
                                </h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>
                                    Công nghệ phát triển khiến nhu cầu chăm sóc sắc đẹp của phụ nữ Việt Nam ngày càng
                                    trở nên phong phú và phức tạp.
                                    Và để “chiều chuộng” những mong muốn, kì vọng của phái đẹp,
                                    các chủ Spa và Thẩm mỹ viện càng cần trau dồi kiến thức và kĩ năng tay nghề của
                                    mình.
                                </p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2019-01-25 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Y tế</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Sắc
                                            đẹp</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 600</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/cua-hd-hinh-3.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Bắt cua hoàng đế Alaska nguy hiểm
                                        ... nghề đánh bắt đó!

                                        &nbsp
                                        <span class="label label-warning pull-right">
                                            <blink>NEW</blink>
                                        </span></h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Cứ vào thu đông, các đội tàu ở Alaska lại ra khơi đánh bắt cua hoàng đế - món ăn cực
                                    phẩm mà nhiều ngư dân đã phải trả giá bằng cả sinh mạng. Cùng lúc đó, các nhà làm
                                    phim cũng có mặt trên boong tàu, đánh vật với sóng to gió lớn để ghi lại những
                                    thước phim quý về nghề đánh bắt này.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2019-01-10 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Hải
                                            sản</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 750</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/ca-chep-hinh-7.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Cá chép, những điều chưa biết
                                        &nbsp
                                        <span class="label label-warning pull-right">
                                            <blink>NEW</blink>
                                        </span>
                                </h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Cá chép là loài cá nước ngọt phổ biến, có cả ở sông suối, ao hồ, ngay cả trên những
                                    cánh đồng nước thì cá chép cũng sinh sôi nảy nở. Nhiều nghiên cứu cho thấy, cá chép
                                    có họ hàng xa với cá vàng và chúng có khả năng lai giống với nhau. Tuy nhiên, theo
                                    thời gian, môi trường sống thay đổi, chúng đã ít “đi lại” với nhau hơn, dẫn đến
                                    việc cá chép và cá vàng không phải là cùng một gốc.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2019-01-01 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Hải
                                            sản</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 300</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/The-thao-hinh-8.jpg">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">MU - Solskjaer ...
                                        siêu sao nào thế chỗ?
                                        &nbsp
                                        <span class="label label-warning pull-right">
                                            <blink>NEW</blink>
                                        </span></h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>
                                    Một thông tin đầy giật gân vừa được tờ Telegraph đăng tải.
                                    Theo nguồn tin riêng của tờ báo này, MU sẵn sàng lắng nghe mọi đề nghị dành cho
                                    Romelu Lukaku.
                                    Thậm chí, đội chủ sân Old Trafford quyết tâm bán đứt Lukaku ngay trong phiên chợ mùa
                                    hè 2019,
                                    để qua đó tái đầu tư vào các thương vụ phù hợp với triết lý của HLV Solskjaer.

                                </p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2018-12-10 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Thể thao</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Quốc
                                            tế</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 300</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/Phap-luat-hinh-1.jpg">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Bằng chứng Khá “Bảnh” ...
                                        chục triệu đồng với con bạc
                                        &nbsp
                                        <span class="label label-warning pull-right">
                                            <blink>NEW</blink>
                                        </span></h4>
                                </a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>
                                    Liên quan tới vụ án Ngô Bá Khá (tức Khá Bảnh, SN 1993, ở thị xã Từ Sơn, tỉnh Bắc
                                    Ninh) đánh bạc
                                    và tổ chức đánh bạc, ngày 9/4, Viện Kiểm sát nhân dân (VKSND) tỉnh Bắc Ninh cho
                                    biết, VKSND thị xã Từ Sơn
                                    đã phê chuẩn các quyết định khởi tố bị can
                                    và lệnh tạm giam đối với các đối với Khá và 4 đối tượng khác

                                </p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2018-09-20 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Pháp luật</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">An
                                            ninh nhân dân</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 421</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/cua-ca-mau-hinh-3.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Cua biển Cà Mau: đặc sản nức tiếng gần xa
                                        &nbsp
                                        <span class="label label-warning pull-right">
                                            <blink>NEW</blink>
                                        </span>
                                </h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Miền đất mũi đã được người mẹ thiên thiên bạn tặng cho thức quà tuyệt vời đó là cua
                                    biển Cà Mau mà ai cũng mong muốn một lần được nếm thử. Nhiều du khách đến cực Nam
                                    đều ngây ngất trong hương vị các món ăn được chế biến từ cua biển.Nhiều vị khách
                                    đánh giá cua biển Cà Mau là loại cua ngon nhất cả nước với thịt cua thơm, chắc
                                    nịch, ngọt vừa, không quá béo mà rất bùi, gạch cua béo ngậy khiến ai cũng muốn ăn
                                    thêm.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2018-09-01 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Hải
                                            sản</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 158</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/TL-hinh-1.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Thanh long rớt giá thảm ...
                                        đâu?
                                        &nbsp
                                        <span class="label label-warning pull-right">
                                            <blink>NEW</blink>
                                        </span></h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Nhiều lần gặp tình trạng thanh long rớt giá, nhưng chưa bao giờ người trồng thanh
                                    long tại Bình Thuận lại điêu đứng trước tình hình giá thanh long xuống mức thấp
                                    nhất hiện nay: 500 đồng đến 1.000 đồng/kg. Rớt giá, ế ẩm, nhiều người dân ở “thủ
                                    phủ” thanh long Bình Thuận phải chặt bỏ đi.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2018-06-04 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Nông
                                            sản</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 230</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/TL-hinh-7.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Thanh long tại vườn 2.000 đồng/kg,... với giá cao
                                        gấp 10 lần
                                        &nbsp
                                        <span class="label label-warning pull-right">
                                            <blink>NEW</blink>
                                        </span></h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Hơn 1 tuần nay, thanh long Bình Thuận rớt giá mạnh. Hiện giá thanh long ruột trắng
                                    chỉ có 500-1.000 đồng/kg, nhưng giá thanh long bán lẻ tại các hệ thông siêu thị, và
                                    các chợ trên địa bàn Hà Nội giá vẫn cao ngất ngưởng.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2018-06-04 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Nông
                                            sản</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 97</span>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End temp--------------------------------->
                <!-- Top 10 chuyen muc -->
                <div class="row">
                    <div class="btn-group alg-left-pad">
                        <button type="button" class="btn btn-default">Top 10 chuyên mục</button>
                        <button type="button" class="btn btn-default"><strong>44 </strong>Bài viết</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                Sắp xếp &nbsp;
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Tiêu đề</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Ngày đăng</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Chuyên mục</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Tag</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/lua-gao.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Giá lúa gạo ở các tỉnh đồng bằng sông Cửu Long
                                        tăng
                                        mạnh</h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Trước diễn biến giá lúa này, chiều 19/2, Thủ tướng Chính phủ Nguyễn Xuân Phúc đã có
                                    cuộc
                                    họp với Bộ Nông nghiệp và Phát triển nông thôn, Bộ Tài Chính, Ngân hàng nhà nước,
                                    Hiệp hội
                                    Lương thực Việt Nam… nhằm giải quyết việc thu mua lúa gạo cho nông dân, đảm bảo
                                    quyền lợi
                                    cho nhà nông theo nguyên tắc thị trường.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2019-02-28 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Nông
                                            sản</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 2.156</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/cua-hd-hinh-3.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Bắt cua hoàng đế Alaska nguy hiểm chết người
                                        nhưng còn 1 việc đáng sợ không kém: quay phim... nghề đánh bắt đó!
                                </h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Cứ vào thu đông, các đội tàu ở Alaska lại ra khơi đánh bắt cua hoàng đế - món ăn cực
                                    phẩm mà nhiều ngư dân đã phải trả giá bằng cả sinh mạng. Cùng lúc đó, các nhà làm
                                    phim cũng có mặt trên boong tàu, đánh vật với sóng to gió lớn để ghi lại những
                                    thước phim quý về nghề đánh bắt này.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2019-01-10 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Hải
                                            sản</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 750</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/Van-hoa-hinh-1.jpg">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Cả một siêu phẩm như “Avengers: Endgame” chỉ mình
                                        Người Sắt được đọc kịch bản'</h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Đạo diễn của bộ phim bom tấn “Avengers: Endgame” tiết lộ rằng chỉ có mình nam diễn
                                    viên Robert Downey Jr.
                                    được đọc toàn bộ kịch bản, các diễn viên khác hoặc chỉ được nhận phần kịch bản của
                                    vai mình đóng,
                                    hoặc thậm chí chỉ được nhận vài câu thoại và... không có kịch bản.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2019-02-08 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Đời sống</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Văn
                                            hóa</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 600</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/Xa-hoi-hinh-1.jpg">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Người đàn ông dũng cảm cứu sống 2 học sinh đuối
                                        nước trên biển</h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>“Vừa kịp chạm vào thân thể cháu bé đuối nước, tôi phát hiện một cháu nữa đã chìm dưới
                                    biển với độ sâu chừng 2,5-3m.
                                    Thoáng nghĩ, tôi quyết định 1 tay giữ cháu bé rồi lặn vớt tiếp cháu còn lại.
                                    Đưa được hai cháu vào bờ, tôi lả đi vì mệt”, người đàn ông vừa cứu mạng 2 cháu nhỏ
                                    nhớ lại.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2019-01-10 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Đời sống</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Xã
                                            hội</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 20</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/Bao-hiem-hinh-1.jpg">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Thủ tục khám chữa bệnh bằng thẻ bảo hiểm y tế theo
                                        quy định mới</h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Người tham gia BHYT khi đến KCB phải xuất trình thẻ BHYT có ảnh; trường hợp thẻ BHYT
                                    chưa có ảnh thì
                                    phải xuất trình một trong các giấy tờ tùy thân có ảnh do cơ quan, tổ chức có thẩm
                                    quyền cấp...</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2019-01-01 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Y tế</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Bảo
                                            hiểm</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 100</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/Phap-luat-hinh-1.jpg">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Bằng chứng Khá “Bảnh” giao dịch đánh lô đề hàng
                                        chục triệu đồng với con bạc</h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Liên quan tới vụ án Ngô Bá Khá (tức Khá Bảnh, SN 1993, ở thị xã Từ Sơn, tỉnh Bắc
                                    Ninh) đánh bạc
                                    và tổ chức đánh bạc, ngày 9/4, Viện Kiểm sát nhân dân (VKSND) tỉnh Bắc Ninh cho
                                    biết, VKSND thị
                                    xã Từ Sơn đã phê chuẩn
                                    các quyết định khởi tố bị can và lệnh tạm giam đối với các đối với Khá và 4 đối
                                    tượng khác</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2018-09-20 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Pháp luật</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">An
                                            ninh nhân dân</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 421</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/Quoc-phong-hinh1.jpg">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Trực thăng AH-64 thế chỗ Ka-52 trên tàu đổ bộ
                                        Mistral</h4>
                                </a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>
                                    Hải quân Ai Cập là bên mua lại 2 tàu đổ bộ trực thăng Mistral mà Pháp đóng
                                    cho Nga nhưng không bàn giao được vì vướng phải các lệnh trừng phạt của phương Tây.
                                    Để tăng cường năng lực cho chiếc Mistral cũng như lực lượng yểm trợ hỏa lực đường
                                    không,
                                    vào năm 2015 Cairo đã đặt mua từ Nga 46 trực thăng tấn công Ka-52 Alligator.
                                </p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2019-02-24 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Pháp luật </span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">An
                                            ninh quốc phòng </a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 400</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/The-thao-hinh-1.jpg">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Juventus bị loại cúp C1: 300 triệu bảng mua
                                        Cristiano Ronaldo để làm gì?</h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Cristiano Ronaldo đã ghi 2 bàn ở cả lượt đi và về trước Ajax tại tứ kết Champions
                                    League.
                                    Tuy nhiên, chừng đó vẫn là không đủ để “Lão phu nhân” đi tiếp. Cơn thịnh nộ đến như
                                    một điều tất yếu,
                                    người hâm mộ lại đang phán xét Juventus về số tiền 300 triệu bảng để đưa về siêu sao
                                    người Bồ Đào Nha.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2018-02-10 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Thể thao </span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Quốc
                                            tế</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 1.201</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/The-thao-hinh-3.jpg">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Quảng Ninh - Sài Gòn: Thẻ đỏ & 3 "cú đấm" chí mạng
                                </h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Sau trận thua tan nát 0-5 trước Hà Nội FC trong ngày khai mạc mùa giải,
                                    đoàn quân của HLV Phan Thanh Hùng đã có mạch 3 trận liên tiếp bất bại, trong đó có 2
                                    chiến thắng và 1 trận hòa.
                                    Chuỗi trận thăng hoa của đội bóng đất Mỏ chỉ dừng lại sau thất bại 2-3 trên sân của
                                    HAGL</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2018-06-04 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Thể thao</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Trong
                                            nước</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 200</span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="assets/img/tom-su-hinh-2.png">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Năm 2019, xuất khẩu tôm ước đạt 4 tỷ USD</h4></a>
                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>Tổng cục Thủy sản (Bộ NN-PTNT) vừa cho biết, năm 2019, ngành thủy sản đặt mục tiêu
                                    có
                                    tổng kim ngạch xuất khẩu tôm đạt 4 tỷ USD.
                                    Theo ông Trần Đình Luân, Phó Tổng cục trưởng Tổng cục Thủy sản, để đảm bảo cho mục
                                    tiêu
                                    này, ngay từ đầu năm, ngành thủy sản xác định diện tích nuôi tôm sú năm 2019 duy
                                    trì
                                    khoảng 620.000ha, với sản lượng khoảng 330.000 tấn.</p>
                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2018-02-10 </span></li>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">Hải
                                            sản</a></span>
                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-eye-open"></i> 200</span>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>