<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Đổi mật khẩu</title>
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!-- Fontawesome core CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--Slide Show Css -->
    <link href="assets/ItemSlider/css/main-style.css" rel="stylesheet" />
    <!-- custom CSS here -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <!-- define css here. new create file -->
    <link href="assets/css/define-style.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="trang-chu.html"><strong>BusinessOnline.com</strong></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    <!-- <li><a href="gio-hang.html">Giỏ hàng</a></li> -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tài khoản<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="phan he doc gia/cap-nhat-thong-tin-doc-gia.html"><strong>Phân hệ độc giả</strong></a></li>
                            <li><a href="phan he phong vien/cap-nhat-thong-tin-phong-vien.html"><strong>Phân hệ phóng
                                        viên</strong></a></li>
                            <li><a href="phan he bien tap vien/cap-nhat-thong-tin-bien-tap-vien.html"><strong>Phân hệ
                                        biên tập viên</strong></a></li>
                            <li><a href="phan he admin/cap-nhat-thong-tin-admin.html"><strong>Phân hệ administrator</strong></a></li>
                            <li><a href="cap-nhat-thong-tin.html"><strong>Cập nhật thông tin</strong></a></li>
                            <li><a href="doi-mat-khau.html"><strong>Đổi mật khẩu</strong></a></li>
                            <li class="divider"></li>
                            <li><a href="dang-nhap.html"><strong>Đăng xuất</strong></a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hỗ trợ <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><strong>Điện thoại: </strong>033-353-8585</a></li>
                            <li><a href="#"><strong>eMail: </strong>thebeast@businessonline.com</a></li>
                            <li><a href="./chinh-sach.html"><strong>Chính sách & điều luật </strong></a></li>
                            <li class="divider"></li>
                            <li><a href="#"><strong>Địa chỉ: </strong>
                                    <div>
                                        227, Nguyễn Văn Cừ,<br />
                                        Phường 4, Quận 5
                                    </div>
                                </a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" placeholder="Nhập từ khóa" class="form-control">
                    </div>
                    &nbsp;
                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--div change info-->
                <div>
                    <form method="put">
                        <div class="form-group input-login">
                            <h2><strong>Thay đổi mật khẩu</strong></h2>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" name="matkhau" id="ownpass-update"
                                    placeholder="Mật khẩu cũ">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" name="matkhau1" id="newpass-update"
                                    placeholder="Mật khẩu mới">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                                <input type="password" class="form-control" name="matkhau2" id="newpass-update"
                                    placeholder="Nhập lại mật khẩu mới">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Cập nhật mật khẩu</button>
                        </div>
                    </form>
                </div>
            </div>

            <!--footer-->
            <!-- /.container -->
            <div class="col-md-12 download-app-box text-center">
                BusinessOnline.Com - Luôn cập nhật tin tức mới nhất.
            </div>
            <!--Footer -->
            <div class="col-md-12 footer-box">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Đặt câu hỏi cho chúng tôi </strong>
                        <hr>
                        <form>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Tên">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" required="required" class="form-control"
                                            rows="3" placeholder="Nội dung câu hỏi"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Gửi</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-4">
                        <strong>Địa chỉ</strong>
                        <hr>
                        <p>
                            227, Nguyễn Văn Cừ,<br />
                            Phường 4, Quận 5<br />
                            Điện thoại: 033-353-8585<br>
                            Email: thebeast@businessonline.com<br>
                        </p>

                        2019 | www.BusinessOnline.com | All Right Reserved
                    </div>
                    <div class="col-md-4 social-box">
                        <strong>Chúng tôi trên mạng xã hội </strong>
                        <hr>
                        <a href="#"><i class="fa fa-facebook-square fa-3x "></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-3x "></i></a>
                        <a href="#"><i class="fa fa-google-plus-square fa-3x c"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-3x "></i></a>
                        <a href="#"><i class="fa fa-pinterest-square fa-3x "></i></a>
                        <p>
                            Đăng nhập để không bỏ lỡ những bài viết mới nhất.
                        </p>
                    </div>
                </div>
                <hr>
            </div>
            <!-- /.col -->
            <div class="col-md-12 end-box ">
                &copy; 2019 | &nbsp; All Rights Reserved | &nbsp; www.BusinessOnline.com | &nbsp; Hỗ trợ 24/7 |
                &nbsp;
                Email: thebeast@businessonline.com
            </div>
            <!-- /.col -->
            <!--Footer end -->
            <!--Core JavaScript file  -->
            <script src="assets/js/jquery-1.10.2.js"></script>
            <!--bootstrap JavaScript file  -->
            <script src="assets/js/bootstrap.js"></script>
            <!--Slider JavaScript file  -->
            <script src="assets/ItemSlider/js/modernizr.custom.63321.js"></script>
            <script src="assets/ItemSlider/js/jquery.catslider.js"></script>
            <script>
                $(function () {
                    $('#mi-slider').catslider();
                });
            </script>
        </div>
    </div>

</body>

</html>