<div class="col-md-9">
    {{#if success }}
    <section class="success">
        <h2>Đổi mật khẩu thành công!</h2>
    </section>
    {{else }}
    <div>
        {{#if errors }}
        <section class="errors">
            <ul>
                {{#each errors }}
                <li>{{ this.msg }}</li>
                {{/each}}
            </ul>
        </section>
        {{/if}}
        <div class="noti-center">
            <span><Strong>Khôi phục mật khẩu - Mật khẩu mới sẽ được gửi cho email của bạn</Strong></span>
        </div>

        <form method="POST" class="form-group input-forget-password">
            <div class="form-group input-login">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="email" class="form-control" name="Email" placeholder="Email khôi phục"
                        required="required">
                </div>
                <br>
                <button type="submit" class="btn btn-warning">Khôi phục ngay</button>
            </div>
        </form>
    </div>
    {{/if}}

</div>