<div>
    <a href="#" class="list-group-item active">Bài viết</a>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="http://localhost:8000/admin/danhmuc">Danh Mục</a>
            <span class="label label-primary pull-right"></span>
        </li>
        <li class="list-group-item">
            <a href="http://localhost:8000/admin/tag">Tag</a>
            <span class="label label-primary pull-right"></span>
        </li>
        <li class="list-group-item">
            <a href="http://localhost:8000/admin/baiviet">Quản lý bài viết</a>
            <span class="label label-primary pull-right"></span>
        </li>
        <li class="list-group-item">
            <a href="http://localhost:8000/admin/nguoidung">Quản lý người dùng</a>
            <span class="label label-primary pull-right"></span>
        </li>
        {{!-- <li class="list-group-item">
            <a href="http://localhost:8000/admin/nguoidung">Gia hạn độc giả</a>
            <span class="label label-primary pull-right"></span>
        </li> --}}
    </ul>
</div>