<div class="row">
    <div class="well well-lg offer-box text-center">


        <p id=move1><a>Liên hệ quảng cáo: 033-353-8585</a></p>


    </div>
    <br />
    <!-- /.col -->
    <!--Đặt quảng cáo-->
    <!-- /.col -->
</div>