<div class="row">
    <div class="well well-lg offer-box text-center banner" id="slide-banner">
        <button class="banner-button display-left" onclick="preImage()">&#10094;</button>
        <div class="content-banner">
            <div class="text-banner">
                <h2 id="header-banner"></h2>
                <p id="text-display"></p>
            </div>
            <a class="more-info" onclick="moreInfo()">Xem thêm &#10095;&#10095;</a>
        </div>
        <button class="banner-button display-right" onclick="nextImage()">&#10095;</button>
    </div>
    <br />
</div>