<div>
    <div class="col-md-12 download-app-box text-center">
        BusinessOnline.Com - Luôn cập nhật tin tức mới nhất.
    </div>

    <!--Footer -->
    <div class="col-md-12 footer-box">
        <div class="row">
            <div class="col-md-4">
                <strong>Đặt câu hỏi cho chúng tôi </strong>
                <hr>
                <form>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Tên">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <textarea name="message" id="message" required="required" class="form-control" rows="3"
                                    placeholder="Nội dung câu hỏi"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Gửi</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-4">
                <strong>Địa chỉ</strong>
                <hr>
                <p>
                    227, Nguyễn Văn Cừ,<br />
                    Phường 4, Quận 5<br />
                    Điện thoại: 033-353-8585<br>
                    Email: thebeast@businessonline.com<br>
                </p>

                2019 | www.BusinessOnline.com | All Right Reserved
            </div>
            <div class="col-md-4 social-box">
                <strong>Chúng tôi trên mạng xã hội </strong>
                <hr>
                <a href="#"><i class="fa fa-facebook-square fa-3x "></i></a>
                <a href="#"><i class="fa fa-twitter-square fa-3x "></i></a>
                <a href="#"><i class="fa fa-google-plus-square fa-3x c"></i></a>
                <a href="#"><i class="fa fa-linkedin-square fa-3x "></i></a>
                <a href="#"><i class="fa fa-pinterest-square fa-3x "></i></a>
                <p>
                    Đăng nhập để không bỏ lỡ những bài viết mới nhất.
                </p>
            </div>
        </div>
        <hr>
    </div>
    <!-- /.col -->
    <div class="col-md-12 end-box ">
        &copy; 2019 | &nbsp; All Rights Reserved | &nbsp; www.BusinessOnline.com | &nbsp; Hỗ trợ 24/7 |
        &nbsp;
        Email: thebeast@businessonline.com
    </div>
</div>