<div>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#">Bài viết nổi bật</a>
                            <span class="label label-danger pull-right">HOT</span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Bài viết mới</a>
                            <span class="label label-warning pull-right">NEW</span>
                        </li>
                    </ul>
                </div>

                <div>
                    <a href="#" class="list-group-item active"><i class="fa fa-usd"></i> Kinh Doanh
                    </a>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="Chu de/nong-san.html">Nông sản </a>
                            <span class="label label-primary pull-right">20</span>
                        </li>
                        <li class="list-group-item">
                            <a href="Chu de/hai-san.html">Hải sản</a>
                            <span class="label label-primary pull-right">25</span>
                        </li>
                    </ul>
                </div>
                <!-- /.div -->
                <div>
                    <a href="#" class="list-group-item active list-group-item-success"><i class="fa fa-home"></i>  Đời sống
                    </a>
                    <ul class="list-group">

                        <li class="list-group-item">
                            <a href="Chu de/van-hoa.html">Văn hóa</a>
                            <span class="label label-success pull-right">10</span>
                        </li>
                        <li class="list-group-item">
                            <a href="Chu de/xa-hoi.html">Xã hội</a>
                            <span class="label label-success pull-right">20</span>
                        </li>
                    </ul>
                </div>
                <!-- /.div -->
                <div>
                    <a href="#" class="list-group-item active"><i class="fa fa-medkit"></i> Y Tế  
                    </a>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="Chu de/bao-hiem.html">Bảo hiểm</a>
                            <span class="label label-success pull-right">23</span>
                        </li>
                        <li class="list-group-item">
                            <a href="Chu de/sac-dep.html">Sắc đẹp</a>
                            <span class="label label-success pull-right">11</span>
                        </li>
                    </ul>
                </div>

                <div>
                    <a href="#" class="list-group-item active"><i class="fa fa-gavel"></i> Pháp luật
                    </a>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="Chu de/an-ninh.html">An ninh nhân dân</a>
                            <span class="label label-success pull-right">14</span>
                        </li>
                        <li class="list-group-item">
                            <a href="Chu de/quoc-phong.html">An ninh quốc phòng</a>
                            <span class="label label-success pull-right">15</span>
                        </li>
                    </ul>
                </div>

                <div>
                    <a href="#" class="list-group-item active"><i class="fa fa-wheelchair"></i> Thể thao
                    </a>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="Chu de/trong-nuoc.html">Trong nước</a>
                            <span class="label label-success pull-right">16</span>
                        </li>
                        <li class="list-group-item">
                            <a href="Chu de/ngoai-nuoc.html">Quốc tế</a>
                            <span class="label label-success pull-right">20</span>
                        </li>
                    </ul>
                </div>
                <!-- /.div -->
            </div>