<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Business Online </title>
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!-- Fontawesome core CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- custom CSS here -->
    <link href="assets/css/style.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="trang-chu.html"><strong>BusinessOnline.com</strong></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    <!-- <li><a href="gio-hang.html">Giỏ hàng</a></li> -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tài khoản<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="phan he doc gia/cap-nhat-thong-tin-doc-gia.html"><strong>Phân hệ độc
                                        giả</strong></a></li>
                            <li><a href="phan he phong vien/cap-nhat-thong-tin-phong-vien.html"><strong>Phân hệ phóng
                                        viên</strong></a></li>
                            <li><a href="phan he bien tap vien/cap-nhat-thong-tin-bien-tap-vien.html"><strong>Phân hệ
                                        biên tập viên</strong></a></li>
                            <li><a href="phan he admin/cap-nhat-thong-tin-admin.html"><strong>Phân hệ
                                        administrator</strong></a></li>
                            <li><a href="cap-nhat-thong-tin.html"><strong>Cập nhật thông tin</strong></a></li>
                            <li><a href="doi-mat-khau.html"><strong>Đổi mật khẩu</strong></a></li>
                            <li class="divider"></li>
                            <li><a href="dang-nhap.html"><strong>Đăng xuất</strong></a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hỗ trợ <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><strong>Điện thoại: </strong>033-353-8585</a></li>
                            <li><a href="#"><strong>eMail: </strong>thebeast@businessonline.com</a></li>
                            <li><a href="./chinh-sach.html"><strong>Chính sách & điều luật </strong></a></li>
                            <li class="divider"></li>
                            <li><a href="#"><strong>Địa chỉ: </strong>
                                    <div>
                                        227, Nguyễn Văn Cừ,<br />
                                        Phường 4, Quận 5
                                    </div>
                                </a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" placeholder="Nhập từ khóa" class="form-control">
                    </div>
                    &nbsp;
                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="well well-lg offer-box text-center">


                <p id=move1><a>Liên hệ quảng cáo: 033-353-8585</a></p>


            </div>
            <br />
            <!-- /.col -->
            <!--Đặt quảng cáo-->
            <!-- /.col -->
        </div>
        <!-- /.row -->



        <div class="row">
            <!-- start side bar -->
            <div class="col-md-3">
                <div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#">Bài viết nổi bật</a>
                            <span class="label label-danger pull-right">HOT</span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Bài viết mới</a>
                            <span class="label label-warning pull-right">NEW</span>
                        </li>
                    </ul>
                </div>

                <div>
                    <a href="#" class="list-group-item active"><i class="fa fa-usd"></i> Kinh Doanh
                    </a>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#">Nông sản </a>
                            <span class="label label-primary pull-right">20</span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Hải sản</a>
                            <span class="label label-primary pull-right">25</span>
                        </li>
                    </ul>
                </div>
                <!-- /.div -->
                <div>
                    <a href="#" class="list-group-item active list-group-item-success"><i class="fa fa-home"></i> Đời
                        sống
                    </a>
                    <ul class="list-group">

                        <li class="list-group-item">
                            <a href="#">Văn hóa</a>
                            <span class="label label-success pull-right">10</span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Xã hội</a>
                            <span class="label label-success pull-right">20</span>
                        </li>
                    </ul>
                </div>
                <!-- /.div -->
                <div>
                    <a href="#" class="list-group-item active"><i class="fa fa-medkit"></i> Y Tế
                    </a>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#">Bảo hiểm</a>
                            <span class="label label-success pull-right">23</span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Sắc đẹp</a>
                            <span class="label label-success pull-right">11</span>
                        </li>
                    </ul>
                </div>

                <div>
                    <a href="#" class="list-group-item active"><i class="fa fa-gavel"></i> Pháp luật
                    </a>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#">An ninh nhân dân</a>
                            <span class="label label-success pull-right">14</span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">An ninh quốc phòng</a>
                            <span class="label label-success pull-right">15</span>
                        </li>
                    </ul>
                </div>

                <div>
                    <a href="#" class="list-group-item active"><i class="fa fa-wheelchair"></i> Thể thao
                    </a>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#">Trong nước</a>
                            <span class="label label-success pull-right">16</span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Quốc tế</a>
                            <span class="label label-success pull-right">20</span>
                        </li>
                    </ul>
                </div>
                <!-- /.div -->
            </div>

            <!-- /.col -->
            <div class="col-md-6">


                <!-- /.div -->
                <div class="row">
                    <!-- Post Content Column -->
                    <!-- Title -->
                    <h1 class="mt-4" id="title-bai-viet"></h1>
                    <!-- Author
                    <p class="lead">
                        by
                        <a href="#">Start Bootstrap</a>
                    </p> -->
                    <ul id="tags-bai-viet" class="list-inline list-unstyled">
                    </ul>
                    <hr>

                    <div class="content" id="content-bai viet">
                    </div>



                    <!-- Comments Form -->
                    <div class="card">
                        <h5 class="card-header"><strong>Viết bình luận :</strong></h5>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Đăng</button>
                            </form>
                        </div>
                    </div>

                    <!-- Single Comment -->
                    <div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle" src="assets/img/cmt-hinh-1.jpg"
                            style="height: 50px; width: 50px; margin-right:10px; " alt="">
                        <div class="media-body">
                            <h5 class="mt-0"><strong> Đoàn Khải </strong></h5>
                            <ul class="list-inline list-unstyled">
                                <li><span><i class="glyphicon glyphicon-calendar"></i> 2019-02-10 11:32 </span></li>
                            </ul>
                            <p>
                                Kinh doanh thi có lúc nầy lúc kia, hễ được giá thì đua nhau trồng, mất giá thì lăm lăm
                                chặt bỏ,
                                làm kiểu chạy theo bóng như vậy sao mà làm được.
                            </p>
                        </div>
                    </div>

                    <!-- Comment with nested comments -->
                    <div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle" src="assets/img/cmt-hinh-2.jpg"
                            style="height: 50px; width: 50px; margin-right:10px; " alt="">
                        <div class="media-body">
                            <h5 class="mt-0"><strong> Lê Văn Hưng </strong></h5>
                            <ul class="list-inline list-unstyled">
                                <li><span><i class="glyphicon glyphicon-calendar"></i> 2019-02-08 10:42 </span></li>
                            </ul>
                            <p>
                                Cần xem lại chính sách tỉ giá. Do chính sách hiện tại giá các mặt hàng nông thuỷ hải sản
                                của VN đắt lên 20-30% so vói các đối thủ cạnh tranh trong một năm qua
                                . Tuy nông nghiệp chỉ đóng góp phần ít trong GDP, nhưng 70% dân số ...
                            </p>

                            <div class="media mt-4">
                                <img class="d-flex mr-3 rounded-circle" src="assets/img/cmt-hinh-3.jpg"
                                    style="height: 50px; width: 50px; margin-right:10px; " alt="">
                                <div class="media-body">
                                    <h5 class="mt-0"><strong> Khánh Nguyễn </strong></h5>
                                    <ul class="list-inline list-unstyled">
                                        <li><span><i class="glyphicon glyphicon-calendar"></i> 2019-02-08 10:45 </span>
                                        </li>
                                    </ul>
                                    <p>
                                        Người hàn quốc người nhật sản xuất một chiếc xe hơi đóng một con tàu bằng cả
                                        huyện ơ việt nam trồng lúa cả năm
                                    </p>
                                </div>
                            </div>

                            <div class="media mt-4">
                                <img class="d-flex mr-3 rounded-circle" src="assets/img/cmt-hinh-4.jpg"
                                    style="height: 50px; width: 50px; margin-right:10px;" alt="">
                                <div class="media-body">
                                    <h5 class="mt-0"><strong> Nguyễn Khánh Hòa </strong></h5>
                                    <ul class="list-inline list-unstyled">
                                        <li><span><i class="glyphicon glyphicon-calendar"></i> 2019-02-08 11:00 </span>
                                        </li>
                                    </ul>
                                    <p>
                                        Bạn biết Israel không? Họ giàu nhờ nông nghiệp đấy.
                                        Nếu bạn có chính sách cho nông nghiệp hợp lý, hiện đại hóa ngành nông nghiệp,
                                        bạn vẫn có thể giàu.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /div row -->
                </div>
                <!-- /div col -->
            </div>


            
            <div class="col-md-3">
                <dl class="extra-menu" id="bai-viet-lien-quan">
                    <dt class="title-extra-menu">Bài viết liên quan</dt>
                    <!-- <dt class="extra-dt" style="background-image: url('assets/img/cao-su.png');">
                        <div class="title-extra">
                            <a class="extra-text" href="#"> Itsddaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaasddaem 1 </a>
                        </div>
                    </dt>
                    <dt class="extra-dt" style="background-image: url('assets/img/cao-su.png');">
                        <div class="title-extra">
                            <a class="extra-text" href="#"> Itsddaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaasddaem 1 </a>
                        </div>
                    </dt>
                    <dt class="extra-dt" style="background-image: url('assets/img/cao-su.png');">
                        <div class="title-extra">
                            <a class="extra-text" href="#"> Itsddaaaaaaaasdsadasdasdsadsasd
                                aaaaaaaaaaaaaaaaaaaaaaaaaaaaasddaem 1 </a>
                        </div>
                    </dt>
                    <dt class="extra-dt" style="background-image: url('assets/img/cao-su.png');">
                        <div class="title-extra">
                            <a class="extra-text" href="#"> Itsddaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaasddaem 1 </a>
                        </div>
                    </dt> -->
                </dl>
            </div>





            <!-- /.container -->
            <div class="col-md-12 download-app-box text-center">

                BusinessOnline.Com - Luôn cập nhật tin tức mới nhất.

            </div>

            <!--Footer -->
            <div class="col-md-12 footer-box">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Đặt câu hỏi cho chúng tôi </strong>
                        <hr>
                        <form>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Tên">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" required="required" class="form-control"
                                            rows="3" placeholder="Nội dung câu hỏi"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Gửi</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-4">
                        <strong>Địa chỉ</strong>
                        <hr>
                        <p>
                            227, Nguyễn Văn Cừ,<br />
                            Phường 4, Quận 5<br />
                            Điện thoại: 033-353-8585<br>
                            Email: thebeast@businessonline.com<br>
                        </p>

                        2019 | www.BusinessOnline.com | All Right Reserved
                    </div>
                    <div class="col-md-4 social-box">
                        <strong>Chúng tôi trên mạng xã hội </strong>
                        <hr>
                        <a href="#"><i class="fa fa-facebook-square fa-3x "></i></a>
                        <a href="#"><i class="fa fa-twitter-square fa-3x "></i></a>
                        <a href="#"><i class="fa fa-google-plus-square fa-3x c"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-3x "></i></a>
                        <a href="#"><i class="fa fa-pinterest-square fa-3x "></i></a>
                        <p>
                            Đăng nhập để không bỏ lỡ những bài viết mới nhất.
                        </p>
                    </div>
                </div>
                <hr>
            </div>
            <!-- /.col -->
            <div class="col-md-12 end-box ">
                &copy; 2019 | &nbsp; All Rights Reserved | &nbsp; www.BusinessOnline.com | &nbsp; Hỗ trợ 24/7 |
                &nbsp;
                Email: thebeast@businessonline.com
            </div>
            <!-- /.col -->
            <!--Footer end -->
            <!--Core JavaScript file  -->
            <script src="assets/js/jquery-1.10.2.js"></script>
            <!--bootstrap JavaScript file  -->
            <script src="assets/js/bootstrap.js"></script>
            <script src="assets/js/bai-viet.js"></script>
</body>

</html>